* {
    margin: 0;
    padding: 0;
    outline: none !important; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

@import "variables.scss";

body {
    font-family: $main_font;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title_font;
    letter-spacing: 2px;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 32px;
    padding: 0;
    width: 175px;
    height: 32px;
    background: none;
    border: 2px solid $main_color;
    border-radius: 10px;

    text-decoration: none!important;
    font-family: $title_font;
    font-weight: 800;
    font-size: 18px;
    color: darken($color: $main_color, $amount: 16);

    @media (max-width: $ipad_horizontal) {
        width: auto;
        padding: 0 16px;
    }

    box-shadow: 2px 2px 2px 2px transparentize($color: #000, $amount: 0.9);

    transition: background-color 0.2s linear, letter-spacing 0.2s ease;

    &:hover {
        background-color: transparentize($color: $main_color, $amount: 0.5);
    }

    &:active {
        letter-spacing: 2px;
    }

    cursor: pointer;
}

.input-str {
    transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease;
    margin-bottom: 6px;
    &:focus {
        border-color: $main_blue;
        box-shadow: 0 0 0 0.2rem transparentize($color: $main_blue, $amount: 0.75);
        margin-left: -5%;
        width: 110%;
        height: calc(1.5em + .75rem + 8px);
        margin-bottom: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    background: $main_color;
    background: -moz-$main_gradient;
    background: -webkit-$main_gradient;
    background: $main_gradient;
    
    padding: 8px 2.5%;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        
        img {
            width: 64px;
            height: 64px;
            @media (max-width: $ipad_horizontal) {
                width: 56px;
                height: 56px;
            }
        }
        
        span {
            margin-left: 16px;

            font-family: $title_font;
            font-weight: 700;
            font-size: 32px;
            @media (max-width: $ipad_horizontal) {
                font-size: 28px;
            }
            letter-spacing: 1px;
            color: #fff;

            user-select: none;
        }

        cursor: pointer;
    }

    transition: box-shadow 0.5s linear;
    &.scrolled {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    }

    &__nav {
        .nav__link {
            margin: 0 10px;
            position: relative;

            text-decoration: none;

            font-family: $title_font;
            font-weight: 400;
            font-size: 24px;
            @media (max-width: $ipad_horizontal) {
                font-size: 20px;
            }
            letter-spacing: 1px;
            color: #fff;

            &.active {
                font-weight: 700;

                &:after {
                    content: "";
                    position: absolute;
                    left: -10%;
                    top: 36px;
                    @media (max-width: $ipad_horizontal) {
                        top: 28px;
                    }
                    width: 120%;
                    height: 1px;
                    background-color: #fff;
                }
            }
        }
    }

    .login-buttons {
        .button {
            border-color: #fff;
            color: #fff;
        }
        
        .login {
            margin-right: 16px;
        }
    }

    .burger {
        display: none;
        position: relative;
        margin-top: 20px;
        width: 30px;
        height: 3px;
        cursor: pointer;

        span {
            position: absolute;
            width: 100%;
            top: -20px;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background-color: #fff;

            &, &:before, &:after {
                transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background-color: #fff;
            }

            &:before {
                top: -10px;
                transform-origin: left top;
            }

            &:after {
                bottom: -10px;
                transform-origin: left bottom;
            }
        }

        &.active {
            span {
                background-color: transparent;

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    @media (max-width: $ipad-vertical) {
        padding-right: 28px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "i b";

        transition: all 1s ease;

        &.active {
            grid-template-rows: repeat(3, auto);
            grid-template-areas: "i b"
                    "n n"
                    "l l";
        }

        .logo {
            grid-area: i;
            display: flex;
            justify-content: right;
        }

        &__nav {
            display: none;
            grid-area: n;

            margin: 16px 0;
            
            &.active {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .nav__link {
                &.active {
                    &:after {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 120%;
                        left: calc(100% + 10px);
                        top: -10%;
                        background-color: #fff;
                    }
                }
            }
        }

        .login-buttons {
            display: none;
            grid-area: l;
            
            &.active {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .login {
                margin: 0 0 10px 0;
            }
        }

        .burger {
            display: block;
            position: absolute;
            right: 0;
            grid-area: b;
        }
    }
}