@import "variables.scss";

.container {
    margin: 0 $container-margin / 2;

    display: flex;

    .info-bar, .users-column {
        width: 25%;
    }

    .messages-column {
        width: 50%;
    }
}

.info-bar, .users-column {
    padding: 16px;

    h1 {
        position: relative;
        margin-bottom: 16px;

        &::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            height: 1px;
            width: 75%;
            background-color: $main_blue;
        }
    }

    .project-info a {
        text-decoration: none;
        color: darken($color: $main_blue, $amount: 5);

        &:hover {
            text-decoration: underline;
        }
    }
}

.messages-column {
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - #{$header_height} - 2 * #{$header_padding} - 32px);

    .messages {
        overflow-x: hidden;
        text-overflow: ellipsis;
        overflow-y: auto;
        ;
        flex-shrink: 1;
        padding: 16px 16px 16px 0;

        .message {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__addresser {
                display: inline-block;
            }

            &__date {
                display: inline-block;
                color: #acacac;
            }

            &__text {
                text-overflow: ellipsis;
            }

            &:not(.no-message):not(:last-child) {
                position: relative;
                margin-bottom: 16px;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #acacac;
                    bottom: -8px;
                }
            }

            &.no-messages {
                color: #acacac;
            }
        }
    }

    .input-outer {
        justify-self: flex-end;
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        .text-message {
            flex-grow: 1;
            margin-right: 16px;

            min-height: 30px;
            max-height: 100px;
            resize: vertical;
            
            padding: 8px 16px 8px 8px;

            line-height: 1.5;
            color: #495057;
            background-clip: padding-box;
            border: 1px solid $main_blue;
            border-radius: .25rem;

            &:focus {
                box-shadow: 0 0 0 0.2rem transparentize($color: $main_blue, $amount: 0.75);
            }
        }
    }
}

.users-column {
    h1 {
        margin-left: 16px;
    }

    .user {
        margin: 16px;
        padding: 8px 16px;
        border: 1px solid #acacac;
        border-radius: 10px;
        text-overflow: ellipsis;
        overflow: hidden;

        &__name {
            display: inline;
            margin-right: 4px;
        }

        &__username {
            text-decoration: none;
            color: darken($color: $main_blue, $amount: 5);

            &:hover {
                text-decoration: underline;
            }
        }

        &__email {
            .email-link {
                text-decoration: none;
                color: darken($color: $main_blue, $amount: 5);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &.add-user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            transition: transform 0.5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .add-user-form {
        display: none;

        &.active {
            display: flex !important;
            flex-direction: column;
            align-items: center;
        }

        label {
            text-align: center;
        }

        .select-users {
            width: 100%;
            margin: 16px 0;
            border-radius: 8px 0 0 8px;
            border: 1px solid $main_blue;
            padding: 8px;
        }
    }
}


@media(max-width: $ipad_horizontal) {
    .messages-column {
        padding: 16px;
    }
}

@media(max-width: $ipad_vertical) {
    .container {
        position: relative;
        flex-direction: column;

        .info-bar, .users-column, .messages-column {
            order: 0;
            width: calc(#{100% - $container-margin / 2} - 32px);
        }

        .users-column {
            order: 1;
            padding-top: 0;

            
            &__heading {

                h1 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                }

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;

                .expand-button {
                    margin: 0 16px;
                    position: relative;
                    width: 24px;
                    height: 24px;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 24px;
                        right: 10px;
                        top: calc(50% - 12px);
                        background-color: $main_blue;
                        transition: width 0.5s ease,
                                    height 0.5s ease,
                                    top 0.5s ease,
                                    right 0.5s ease;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 24px;
                        height: 4px;
                        right: 0;
                        top: calc(50% - 2px);
                        background-color: $main_blue;
                    }
                }
            }

            &.expanned {
                .users-column__heading {
                    .expand-button {
                        &::before {
                            width: 24px;
                            height: 4px;
                            right: 0;
                            top: calc(50% - 2px);
                        }
                    }
                }

                .user-list {
                    display: block;
                }
            }

            .user-list {
                display: none;
            }
        }

        .messages-column {
            order: 2;
            max-height: calc(100vh - 32px);
        }
    }
}