@import "variables.scss";

.container {
    margin: 0 $container-margin;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.intro {
    background: $main_gradient;

    .container {
        padding: 64px 0;
    }

    &__inner {
        display: flex;
        align-items: center;

        .content {
            width: 50%;

            h1 {
                font-size: 32px;
                color: #fff;
            }

            p {
                color: #fff;
                font-size: 18px;
                margin: 15px 0;
            }
        }
        
        .image {
            width: 50%;
            padding: 0 40px;

            @media (max-width: $ipad_horizontal) {
                padding: 0 0;
            }
            
            img {
                width: 100%;
                height: auto;
            }
        }

        @media (max-width: $ipad-vertical) {
            flex-direction: column;
    
            .content, .image {
                width: 100%;
            }
        }
    }

    .create-account {
        border-color: #fff;
        color: #fff;
        line-height: 64px;
        font-size: 24px;
        width: 256px;
        height: 64px;
        display: block;
        margin: 32px auto 0;
    }
}

.about {
    .container {
        margin: $container_margin $container-margin * 2;
    }

    &__item {
        position: relative;
        display: flex;

        justify-content: center;
        align-items: center;
        
        margin: 64px 0;

        &:nth-child(even) {
            flex-direction: row-reverse;

            .content {
                margin: 0 0 0 5%;

                h2 {
                    font-size: 32px;
                    color: $main_green;
                }

                .button {
                    border-color: $main_green;
                    color: $main_green;

                    &:hover {
                        background: transparentize($color: $main_green, $amount: 0.75);
                    }
                }
            }
            .image {
                margin: 0 5% 0 0;
            }
        }

        &:nth-child(odd) {
            flex-direction: row;
            .content {
                margin: 0 5% 0 0;

                h2 {
                    font-size: 32px;
                    color: $main_blue;
                }

                .button {
                    border-color: $main_blue;
                    color: $main_blue;

                    &:hover {
                        background: transparentize($color: $main_blue, $amount: 0.75);
                    }
                }
            }
            .image {
                margin: 0 0 0 5%;
            }
        }

        .content {
            width: 50%;

            p {
                margin: 24px 0;
                color: #888888;
            }
        }

        .image {
            width: 50%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            border: 1px solid #000;
            border-radius: 5px;
        }

        @media (max-width: 540px) {
            flex-direction: column !important;

            .content, .image {
                margin: 16px 0 !important;
            }
            
            .content {
                width: 100%;
                text-align: center;
            }

            .image {
                width: 100%;
            }
        }
    }
}

.how-it-works {
    .container {
        margin: 48px $container-margin;
    }

    .how-it-works__inner {
        .slider{
            width: 75%;
            position: relative;
            margin: auto;
            
            .slide {
                overflow: hidden;
            
                img {
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                    border: none !important;
                    box-shadow: none !important;
                }

                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }

            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                color: $main_color;

                user-select: none;
            }

            .next {
                right: -41.59px;
                border-radius: 0 8px 8px 0;

                transition: right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                
            }

            .prev {
                left: -41.59px;
                border-radius: 8px 0 0 8px;
                
                transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:active {
                    left: -50px;
                }
            }

            @media (max-width: 540px) {
                width: 100%;

                .next {
                    right: 16px;
                    color: #fff;

                    &:active {
                        right: 0;
                    }
                }

                .prev {
                    left: 16px;
                    color: #fff;

                    &:active {
                        left: 0;
                    }
                }
            }
        }

        .slider-bottom {
            width: 75%;
            @media (max-width: 540px) {
                width: 100%;
            }
            position: relative;
            margin: auto;
            min-height: 64px;

            transform: translateY(-5px);

            background-color: $main_blue;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

            padding-top: 16px;

            .description-items {
                .slide-description {
                    margin: 0 32px 8px;
                    width: calc(100% - 64px);
                    text-align: center;

                    -webkit-animation-name: fade;
                    -webkit-animation-duration: 1.5s;
                    animation-name: fade;
                    animation-duration: 1.5s;
                }
            }

            .slider-dots {
                text-align: center;
                user-select: none;

                &__item{
                    cursor: pointer;
                    height: 12px;
                    width: 12px;
                    margin: 0 2px;
                    background-color: #ddd;
                    border-radius: 50%;
                    border: none;
                    display: inline-block;
                    transition: background-color 0.6s ease, transform 0.1s ease;

                    &:hover, &.active {
                        background-color: #aaa;
                    }

                    &.active {
                        transform: scale(1.25);
                    }

                    &:active {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}