@import "variables.scss";

body {
    background-color: #fff;
}

.container {
    margin: 32px 10%;
    display: flex;
    justify-content: space-between;
    .projects {
        width: 62%;
    }
    .tasks {
        width: 32%;
    }
    
    @media (max-width: 1366px) {
        .projects, .tasks {
            width: 46%;
        }
    }
    
    @media (max-width: $ipad_vertical) {
        margin: 32px 5%;
    }

    @media (max-width: 540px) {
        flex-direction: column;
        .projects, .tasks {
            width: 100%;
        }
    }
}

.sort-by {
    margin: 16px 0;
    &__select {
        padding: 0 8px;

        border: none;
        display: inline-block;

        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;

        color: darken($main_blue, 4);

        transition: color 0.5s ease;

        &:hover {
            color: darken($main_blue, 8);
        }

        cursor: pointer;

        option {
            color: #000;
        }
    }
}

.projects__inner, .tasks__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 -15px;

    .project, .task {
        width: calc((100% - 128px) / 2);
        padding: 8px 16px;
        margin: 15px;
        border: 1px solid #acacac;
        box-shadow: 6px 6px 8px 0 transparentize($color: #000, $amount: 0.75);
        border-radius: 10px;;

        text-decoration: none;
        color: #000;

        transition: transform 0.5s ease;

        * {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .no-description {
            color: #818181;
        }

        &__title {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__name {
            position: relative;
            margin-bottom: 16px;

            &::after {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                height: 1px;
                width: 75%;
                background-color: $main_blue;
            }
        }

        &:hover {
            transform: scale(1.1);
        }

        &.new-project {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 1366px) {
            width: 100%;
        }
    }
}

.tasks {
    position: relative;
    align-self: flex-start;
    &::before {
        content: "";
        position: absolute;
        left: -9%;
        width: 1px;
        height: 100%;
        opacity: 0.75;
        background-color: $main_blue;
        border-radius: 50%;
    }

    @media (max-width: 540px) {
        margin-top: 64px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -32px;
            width: 100%;
            height: 2px;
            opacity: 0.75;
            background-color: $main_blue;
            border-radius: 50%;
        }
    }
}

.tasks__inner {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    margin: 0;

    .task {
        width: calc(100% - 34px);
        margin: 16px 0;

        &__description {
            position: relative;
            margin-bottom: 16px;

            &::after {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                height: 1px;
                width: 75%;
                background-color: $main_blue;
                mix-blend-mode: multiply;
            }
        }

        &__tag {
            position: relative;
            display: inline-block;
            border: 1px solid #acacac;
            border-radius: 10px;
            padding: 2px 8px 2px 32px;
            margin: 4px 0;
            background-color: transparentize($color: #fff, $amount: 0.5);

            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #aaaaaa;
                left: 8px;
                top: 6px;
            }
        }

        &__deadline {
            .time-to-deadline {
                &.close-to-passing {
                    color: #d11f00;
                }
            }
        }
    }
}

.heading {
    display: flex;
    align-items: center;

    svg {
        margin-right: 16px;
        min-width: 48px;
    }
}