@import "variables.scss";

.container {
    margin: 0 $container-margin / 2;

    display: flex;

    .leftside-menu, .rightside-menu {
        width: 25%;
    }

    .tasks {
        width: 50%;
    }
}

.leftside-menu {
    padding: 16px;

    .project {
        margin-bottom: 32px;

        &__heading {
            position: relative;
            margin-bottom: 16px;

            &::after {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 0;
                height: 1px;
                width: 75%;
                background-color: $main_blue;
            }
        }
    }

    .users-panel {
        margin: 0 -16px;

        h1 {
            margin-left: 16px;
        }

        .user {
            margin: 16px;
            padding: 8px 16px;
            border: 1px solid #acacac;
            border-radius: 10px;
            text-overflow: ellipsis;
            overflow: hidden;

            &__name {
                display: inline;
                margin-right: 4px;
            }

            &__username {
                text-decoration: none;
                color: darken($color: $main_blue, $amount: 5);

                &:hover {
                    text-decoration: underline;
                }
            }

            &__email {
                .email-link {
                    text-decoration: none;
                    color: darken($color: $main_blue, $amount: 5);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.tasks {
    padding: 16px;
    
    h1 {
        margin-bottom: 16px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            height: 1px;
            width: 66%;
            background-color: $main_blue;
        }
    }
    
    .tasks__inner {
        display: flex;
        justify-content: space-between;

        .tasks__column {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            margin: 0;
            width: 32%;
        }
    }
}

.task, .popup-task {
    width: calc(100% - 34px);
    margin: 16px 0;
    padding: 8px 16px;
    border: 1px solid #acacac;
    box-shadow: 6px 6px 8px 0 transparentize($color: #000, $amount: 0.75);
    border-radius: 10px;;

    text-decoration: none;
    color: #000;

    transition: transform 0.5s ease;

    cursor: pointer;

    .no-description {
        color: #818181;
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__description {
        position: relative;
        margin-bottom: 16px;

        &::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            height: 1px;
            width: 75%;
            background-color: $main_blue;
            mix-blend-mode: multiply;
        }
    }

    &__tag {
        position: relative;
        display: inline-block;
        border: 1px solid #acacac;
        border-radius: 10px;
        padding: 2px 8px 2px 32px;
        margin: 4px 0;
        background-color: transparentize($color: #fff, $amount: 0.5);

        &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #aaaaaa;
            left: 8px;
            top: 6px;
        }
    }

    &__deadline {
        .time-to-deadline {
            &.close-to-passing {
                color: #d11f00;
            }
        }
    }

    &:hover {
        transform: scale(1.1);
    }

    &.new-task {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

body {
    overflow-y: scroll;
    &.scroll-locked {
        overflow-y: hidden;
    }
}

.popup-task-wrapper {
    display: none;
    background-color: transparentize($color: #000, $amount: 0.75);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100vw;
    height: 100vh;

    &.active {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .popup-task, form {
        width: unset;
        max-width: 75%;
        position: relative;
        padding: 16px 48px 16px 16px;
        box-shadow: 12px 12px 10px 0 transparentize($color: #000, $amount: 0.75);
        
        cursor: default;

        &:hover {
            transform: none;
        }

        .close-btn {
            position: absolute;
            right: 24px;
            top: 24px;
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            
            transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover {
                transform: rotate(180deg);
            }
        }

        &__creator, &__worker {
            display: inline-block;
            text-decoration: none;
            color: darken($color: $main_blue, $amount: 10);
            mix-blend-mode: darken;

            &:hover {
                text-decoration: underline;
            }
        }

        &__creation-date, &__deadline-date {
            display: inline-block;
        }

        &__items-title {
            margin-top: 8px;
        }

        &__items {
            .item {
                position: relative;
                display: flex;
                align-items: center;

                &__completed {
                    margin-right: 16px;
                    width: 18px;
                    height: 18px;
                    
                }
            }
            
            .item:not(:last-child) {
                margin-bottom: 8px;
            }

            .item:not(:last-child)::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 75%;
                height: 1px;
                background-color: #acacac;
                mix-blend-mode: multiply;
            }
        }

        &__buttons {
            margin-top: 8px;
            display: flex;
            justify-content: flex-end;
        }

        &__send-button {
            background-color: $main_blue;
            color: #fff;
        }
    }
}

.popup-task-wrapper .task-form {
    width: 420px;
    height: unset;
    max-height: 90%;
    padding: 48px 96px;
    margin: 0 36px;
    z-index: 0;

    border: none;
    border-radius: 10px;
    background: $main_gradient;
    box-shadow: 16px 16px 4px 4px transparentize($color: #000, $amount: 0.75);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    .form-item {
        margin: 8px 0;
        width: 100%;
        text-align: center;

        label {
            font-family: $title_font;
            font-size: 24px;
            font-weight: 400;
        }

        .error-message {
            color: #dc3545;
        }

        .input-str {
            display: block;
            width: calc(100% - 18px);
            $h: 22px;
            height: $h;
            padding: 2px 8px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            margin: 4px auto;

            &:focus {
                border-color: #fff;
                box-shadow: 0 0 0 0.2rem transparentize($color: #fff, $amount: 0.75);
                width: calc(100% - 18px);
                height: $h;
                margin: 4px auto;
            }

            &.is-invalid:hover {
                margin-bottom: 0;
                margin-top: 0;
            }

            &.is-invalid:focus {
                border-color: #dc3545;
                box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
            }

            &.color-input {
                width: 25%;
                position: relative;
                overflow: hidden;
                &::-webkit-color-swatch {
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .button {
        background-color: transparentize($color: #fff, $amount: 0.25);
        color: $main_blue;
        
        margin-top: 4px;
        margin-bottom: 4px;
        $h: 32px;
        $w: 50%;
        width: $w;
        height: $h;
    }
}