$title_font: 'Poiret One', cursive;
$main_font: 'Open Sans', sans-serif;
$main_color: #3aebca;
$main_blue: #34bacc;
$main_green: #00c587;
$main_gradient: linear-gradient(90deg, rgb(52, 186, 204) 0%, rgba(0,255,175,1) 100%);

$ipad_horizontal: 1024px;
$ipad_vertical: 768px;

$header_height: 64px;
$header_padding: 8px;

$container-margin: 6%;
