.container {
  margin: 0 6%; }

img{
    max-width:100%;
    max-height:100%;
}


.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000; }

.intro {
  background: linear-gradient(90deg, #34bacc 0%, #00ffaf 100%); }
  .intro .container {
    padding: 64px 0; }
  .intro__inner {
    display: flex;
    align-items: center; }
    .intro__inner .content {
      width: 50%; }
      .intro__inner .content h1 {
        font-size: 32px;
        color: #fff; }
      .intro__inner .content p {
        color: #fff;
        font-size: 18px;
        margin: 15px 0; }
    .intro__inner .image {
      width: 50%;
      padding: 0 40px; }
      @media (max-width: 1024px) {
        .intro__inner .image {
          padding: 0 0; } }
      .intro__inner .image img {
        width: 100%;
        height: auto; }
    @media (max-width: 768px) {
      .intro__inner {
        flex-direction: column; }
        .intro__inner .content, .intro__inner .image {
          width: 100%; } }
  .intro .create-account {
    border-color: #fff;
    color: #fff;
    line-height: 64px;
    font-size: 24px;
    width: 256px;
    height: 64px;
    display: block;
    margin: 32px auto 0; }

.about .container {
  margin: 6% 12%; }

.about__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0; }
  .about__item:nth-child(even) {
    flex-direction: row-reverse; }
    .about__item:nth-child(even) .content {
      margin: 0 0 0 5%; }
      .about__item:nth-child(even) .content h2 {
        font-size: 32px;
        color: #00c587; }
      .about__item:nth-child(even) .content .button {
        border-color: #00c587;
        color: #00c587; }
        .about__item:nth-child(even) .content .button:hover {
          background: rgba(0, 197, 135, 0.25); }
    .about__item:nth-child(even) .image {
      margin: 0 5% 0 0; }
  .about__item:nth-child(odd) {
    flex-direction: row; }
    .about__item:nth-child(odd) .content {
      margin: 0 5% 0 0; }
      .about__item:nth-child(odd) .content h2 {
        font-size: 32px;
        color: #34bacc; }
      .about__item:nth-child(odd) .content .button {
        border-color: #34bacc;
        color: #34bacc; }
        .about__item:nth-child(odd) .content .button:hover {
          background: rgba(52, 186, 204, 0.25); }
    .about__item:nth-child(odd) .image {
      margin: 0 0 0 5%; }
  .about__item .content {
    width: 50%; }
    .about__item .content p {
      margin: 24px 0;
      color: #888888; }
  .about__item .image {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px; }
  @media (max-width: 540px) {
    .about__item {
      flex-direction: column !important; }
      .about__item .content, .about__item .image {
        margin: 16px 0 !important; }
      .about__item .content {
        width: 100%;
        text-align: center; }
      .about__item .image {
        width: 100%; } }

.how-it-works .container {
  margin: 48px 6%; }

.how-it-works .how-it-works__inner .slider {
  width: 75%;
  position: relative;
  margin: auto; }
  .how-it-works .how-it-works__inner .slider .slide {
    overflow: hidden;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }
    .how-it-works .how-it-works__inner .slider .slide img {
      object-fit: cover;
      width: 100%;
      height: auto;
      border: none !important;
      box-shadow: none !important; }
  .how-it-works .how-it-works__inner .slider .prev, .how-it-works .how-it-works__inner .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    color: #3aebca;
    user-select: none; }
  .how-it-works .how-it-works__inner .slider .next {
    right: -41.59px;
    border-radius: 0 8px 8px 0;
    transition: right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .how-it-works .how-it-works__inner .slider .next:active {
      right: -50px; }
  .how-it-works .how-it-works__inner .slider .prev {
    left: -41.59px;
    border-radius: 8px 0 0 8px;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .how-it-works .how-it-works__inner .slider .prev:active {
      left: -50px; }
  @media (max-width: 540px) {
    .how-it-works .how-it-works__inner .slider {
      width: 100%; }
      .how-it-works .how-it-works__inner .slider .next {
        right: 16px;
        color: #fff; }
        .how-it-works .how-it-works__inner .slider .next:active {
          right: 0; }
      .how-it-works .how-it-works__inner .slider .prev {
        left: 16px;
        color: #fff; }
        .how-it-works .how-it-works__inner .slider .prev:active {
          left: 0; } }

.how-it-works .how-it-works__inner .slider-bottom {
  width: 75%;
  position: relative;
  margin: auto;
  min-height: 64px;
  transform: translateY(-5px);
  background-color: #34bacc;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 16px; }
  @media (max-width: 540px) {
    .how-it-works .how-it-works__inner .slider-bottom {
      width: 100%; } }
  .how-it-works .how-it-works__inner .slider-bottom .description-items .slide-description {
    margin: 0 32px 8px;
    width: calc(100% - 64px);
    text-align: center;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }
  .how-it-works .how-it-works__inner .slider-bottom .slider-dots {
    text-align: center;
    user-select: none; }
    .how-it-works .how-it-works__inner .slider-bottom .slider-dots__item {
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 2px;
      background-color: #ddd;
      border-radius: 50%;
      border: none;
      display: inline-block;
      transition: background-color 0.6s ease, transform 0.1s ease; }
      .how-it-works .how-it-works__inner .slider-bottom .slider-dots__item:hover, .how-it-works .how-it-works__inner .slider-bottom .slider-dots__item.active {
        background-color: #aaa; }
      .how-it-works .how-it-works__inner .slider-bottom .slider-dots__item.active {
        transform: scale(1.25); }
      .how-it-works .how-it-works__inner .slider-bottom .slider-dots__item:active {
        transform: scale(1.5); }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
