body {
  background-color: #fff; }

.container {
  margin: 32px 10%;
  display: flex;
  justify-content: space-between; }
  .container .projects {
    width: 62%; }
  .container .tasks {
    width: 32%; }
  @media (max-width: 1366px) {
    .container .projects, .container .tasks {
      width: 46%; } }
  @media (max-width: 768px) {
    .container {
      margin: 32px 5%; } }
  @media (max-width: 540px) {
    .container {
      flex-direction: column; }
      .container .projects, .container .tasks {
        width: 100%; } }

.sort-by {
  margin: 16px 0; }
  .sort-by__select {
    padding: 0 8px;
    border: none;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    color: #2facbc;
    transition: color 0.5s ease;
    cursor: pointer; }
    .sort-by__select:hover {
      color: #2b9dac; }
    .sort-by__select option {
      color: #000; }

.projects__inner, .tasks__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px; }
  .projects__inner .project, .projects__inner .task, .tasks__inner .project, .tasks__inner .task {
    width: calc((100% - 128px) / 2);
    padding: 8px 16px;
    margin: 15px;
    border: 1px solid #acacac;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    transition: transform 0.5s ease; }
    .projects__inner .project *, .projects__inner .task *, .tasks__inner .project *, .tasks__inner .task * {
      text-overflow: ellipsis;
      overflow: hidden; }
    .projects__inner .project .no-description, .projects__inner .task .no-description, .tasks__inner .project .no-description, .tasks__inner .task .no-description {
      color: #818181; }
    .projects__inner .project__title, .projects__inner .task__title, .tasks__inner .project__title, .tasks__inner .task__title {
      overflow: hidden;
      text-overflow: ellipsis; }
    .projects__inner .project__name, .projects__inner .task__name, .tasks__inner .project__name, .tasks__inner .task__name {
      position: relative;
      margin-bottom: 16px; }
      .projects__inner .project__name::after, .projects__inner .task__name::after, .tasks__inner .project__name::after, .tasks__inner .task__name::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        height: 1px;
        width: 75%;
        background-color: #34bacc; }
    .projects__inner .project:hover, .projects__inner .task:hover, .tasks__inner .project:hover, .tasks__inner .task:hover {
      transform: scale(1.1); }
    .projects__inner .project.new-project, .projects__inner .task.new-project, .tasks__inner .project.new-project, .tasks__inner .task.new-project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    @media (max-width: 1366px) {
      .projects__inner .project, .projects__inner .task, .tasks__inner .project, .tasks__inner .task {
        width: 100%; } }

.tasks {
  position: relative;
  align-self: flex-start; }
  .tasks::before {
    content: "";
    position: absolute;
    left: -9%;
    width: 1px;
    height: 100%;
    opacity: 0.75;
    background-color: #34bacc;
    border-radius: 50%; }
  @media (max-width: 540px) {
    .tasks {
      margin-top: 64px; }
      .tasks::before {
        content: "";
        position: absolute;
        left: 0;
        top: -32px;
        width: 100%;
        height: 2px;
        opacity: 0.75;
        background-color: #34bacc;
        border-radius: 50%; } }

.tasks__inner {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0; }
  .tasks__inner .task {
    width: calc(100% - 34px);
    margin: 16px 0; }
    .tasks__inner .task__description {
      position: relative;
      margin-bottom: 16px; }
      .tasks__inner .task__description::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        height: 1px;
        width: 75%;
        background-color: #34bacc;
        mix-blend-mode: multiply; }
    .tasks__inner .task__tag {
      position: relative;
      display: inline-block;
      border: 1px solid #acacac;
      border-radius: 10px;
      padding: 2px 8px 2px 32px;
      margin: 4px 0;
      background-color: rgba(255, 255, 255, 0.5); }
      .tasks__inner .task__tag::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #aaaaaa;
        left: 8px;
        top: 6px; }
    .tasks__inner .task__deadline .time-to-deadline.close-to-passing {
      color: #d11f00; }

.heading {
  display: flex;
  align-items: center; }
  .heading svg {
    margin-right: 16px;
    min-width: 48px; }
