{% set style_file = url_for('static', filename='css/login.css') %}
{% set script_file = url_for('static', filename='js/login.js') %}
{% set bootstrap = true %}
{% set title = 'Авторизация' %}

{% extends "base.html" %}

{% block content %}
    <main class="container">
        <form action="" method="post">
            <h1>Авторизация</h1>
            {{ form.hidden_tag() }}
            <div class="form-item">
                {{ form.email() }}
            </div>
            <div class="form-item">
                {{ form.password() }}
                <div class="invalid-feedback">
                    <p>Неверный логин или пароль</p>
                </div>
            </div>
            <div class="form-item">
                {{ form.submit(type="submit", class="button") }}
            </div>
        </form>
    </main>
{% endblock %}

{% block script %}
    {% if login_failed %}
        <script>
            $("#password").addClass("is-invalid");
        </script>
    {% endif %}
{% endblock %}