{% set script_file = url_for('static', filename='js/main-page.js') %}
{% set style_file = url_for('static', filename='css/main-page.css') %}

{% extends 'base.html' %}

{% block content %}
    <section class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="content">
                    <h1>Misschedule</h1>
                    <p>Чтобы сделать что-то сегодня вы должны выполнить множество вещей, многие из которых, скорее всего, будут забыты, выполнены не в срок или не так как хотелось. Мы нашли решение этому. И это Misschedule (mission schedule).</p>
                    <p>Misschedule -  это платформа, которая поможет вам систематизировать ваши проекты и задачи и следить за их выполнением в реальном времени. Здесь вы можете создать проекты, объединятся с людьми по всему свету, создавать задачи и обсуждать, что нужно для их выполнения.</p>
                    <p>Здесь вы не запутаетесь в задачах и целях, которые вам нужно выполнить, ведь вы в любой момент можете найти те задачи, у которых до дедлайна осталось меньше всего времени. Или вы можете найти те задачи, что были поставлены давно, но все ещё ждут вас.</p>
                    <p>Misschedule также предлагает вам очень полезные и важные в ходе проекта чаты, которые помогут вам оставаться на связи с коллегами ещё долгое время. Вы можете создать неограниченное количество чатов в каждом проекте. Давайте начнем творить вместе!</p>
                </div>
                <div class="image">
                    <img src="/static/img/imac-mockup.png">
                </div>
            </div>
            <a class="button create-account" href="/signup">Создать аккаунт</a>
        </div>
    </section>
    <section class="about">
        <div class="about__inner container">
            <div class="about__item work-in-team">
                <div class="content">
                    <h2>Работайте в команде</h2>
                    <p>Собирайте команду, работайте над проектом вместе, общайтесь в чатах.</p>
                    <a class="button create-account" href="/signup">Начать работу</a>
                </div>
                <div class="image">
                    <img src="/static/img/screenshots/project-main-page.png">
                </div>
            </div>
            <div class="about__item communicate">
                <div class="content">
                    <h2>Обменивайтесь информацией с коллегами</h2>
                    <p>Используйте чаты прямо в приложении, создавая их в 2 клика, обменивайтесь информацией о задачах и целях.</p>
                    <a class="button create-account" href="/signup">Начать работу</a>
                </div>
                <div class="image">
                    <img src="/static/img/screenshots/little-chat.png">
                </div>
            </div>
            <div class="about__item keep-control">
                <div class="content">
                    <h2>Держите все под контролем в любой точке мира</h2>
                    <p>Сортировка задач, проектов и чаты гарантируют вам быстрый контроль над выполнением ваших целей.</p>
                    <a class="button create-account" href="/signup">Начать работу</a>
                </div>
                <div class="image">
                    <img src="/static/img/screenshots/main-page.png">
                </div>
            </div>
        </div>
    </section>
    <section class="how-it-works">
        <div class="how-it-works__inner container">
            <div class="slider">
                <div class="slide">
                    <img src="/static/img/screenshots/project-create-fhd.png" alt="Первый слайд">
                </div>
            
                <div class="slide">
                    <img src="/static/img/screenshots/task-fhd.png" alt="Второй слайд">
                </div>
            
                <div class="slide">
                    <img src="/static/img/screenshots/big-chat-fhd.png" alt="Третий слайд">
                </div>
            
                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>
            </div>
            <div class="slider-bottom">
                <div class="description-items">
                    <p class="slide-description">Создание проекта</p>
                    <p class="slide-description">Создание задачи </p>
                    <p class="slide-description">Чат с коллегами</p>
                </div>
                <div class="slider-dots">
                    <button class="slider-dots__item"></button>
                    <button class="slider-dots__item"></button>
                    <button class="slider-dots__item"></button>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        
    </footer>
{% endblock content %}