{% set jquery = true %}
{% extends "base.html" %}

{% block content %}
<!--Я тут набросал , чтобы тебе либо было легче, либо лол сотрешь, соре, если я как макака покидал в тебя своим кодом.
Здравствуйте, Михаил Викторович!))
-->

<div class="top-card">
    <h1>Проект {{project['project_name']}}</h1>
    <!--Я тут подумал, что титл и наме никак не отличаются и по факту титл не нужен, так что я он теперь слоган-->
    <h2>Слоган: {{project['title']}}</h2>
    <h2>Описание: {{project['description']}}</h2>
    <h4>Дата создания: {{project['reg_date']}}</h4>
</div>

<div class="users-panel">
    <h1>Пользователи</h1>
    {%for item in users%}
    <div class="user-card">
        <p>Логин: {{item["user"]['username']}}</p>
        <p>Почта: {{item["user"]['email']}}</p>
        <p>Имя: {{item["user"]['first_name']}}</p>
        <p>Фамилия: {{item["user"]['last_name']}}</p>
    </div>
    {%endfor%}
</div>

<div class="task-board">
    {%for task in tasks['tasks']%}
    <div class="task-card">
        <p>Низвание: {{task['task']['title']}}</p>
        <p>Описание: {{task['task']['description']}}</p>
        <p>Ответсвенный: {{task['task']['worker_id']}}</p>
        <p>Начало: {{task['task']['date']}}</p>
        <p>Длительность: {{task['task']['duration']}}</p>
        <p>Состояние: {{task['task']['condition']}}</p>
    </div>
    {%for item in task['items']%}
    <div class="item-card">
        <p>Подзадача {{loop.index}}</p>
        <p>Название: {{item['title']}}</p>
        <p>Описание: {{item['description']}}</p>
        <p>Завершено: {{item['completed']}}</p>
    </div>
    {%endfor%}
    {%endfor%}
</div>

<div class="chat-panel">
    {%for chat in chats['chats']%}
    <button class="chat-button">{{chat['title']}}</button>
    {%endfor%}
</div>
<!--Я сделал эту говностраницу и если ты скажешь, что я молодец, потому что постарался, то я порадуюсь <3 А я пошел спать или в майн-->
{% endblock %}