{% set style_file = url_for('static', filename='css/register.css') %}
{% set script_file = url_for('static', filename='js/register.js') %}
{% set bootstrap = true %}
{% set title = 'Регистрация' %}

{% extends "base.html" %}

{% block content %}
<main class="container">
    <h1>Регистрация</h1>
    <form class="needs-validation" novalidate action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-item">
            {{ form.email.label }}
            {{ form.email() }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            {{ form.username.label }}
            {{ form.username() }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            {{ form.first_name.label }}
            {{ form.first_name() }}
            <div class="invalid-feedback">
                {% for error in form.first_name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            {{ form.last_name.label }}
            {{ form.last_name() }}
            <div class="invalid-feedback">
                {% for error in form.last_name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            {{ form.password.label }}
            {{ form.password() }}
            <p id="passwordHelpBlock" class="form-text text-muted">
                Длина пароля должна быть не меньше 9 символов разного регистра, пароль должен содержать как минимум 1 цифру и не должен содержать комбинацию из 3 символов, стоящих рядом на клавиатуре.
            </p>
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="form-item">
            {{ form.password_again.label }}
            {{ form.password_again() }}
            <div class="invalid-feedback">
                {% for error in form.password_again.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {% if message %}
        <p class="alert alert-danger" role="alert">
            {{message}}
        </p>
        {% endif %}
        <div class="form-item">
            {{ form.submit(type="submit", class="button") }}
        </div>
    </form>
</main>
{% endblock %}
